<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/categories">Categorias</a></li>
    <li class="breadcrumb-item">{{ pageTitle }}</li>

  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">{{ pageTitle }}</h1>
  </div>
</div>

<form [formGroup]="categoryForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre a categoria
    </div>
    <div class="container card-body">
      <div class="row">
        <div class="col-md-4">
          <label for="name">Nome</label>
          <input type="text" id="name" formControlName="name" class="form-control">
          <div
            *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched"
            class="text-danger"
          >
            <span *ngIf="categoryForm.get('name')?.errors?.['required']">Campo obrigatório</span>
            <span *ngIf="categoryForm.get('name')?.errors?.['minLength']">Deve ter no mínimo 2 caracteres</span>
          </div>
        </div>
        <div class="col-md-8">
          <label for="description">Descrição</label>
          <input type="text" id="description" formControlName="description" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md float-start mt-3">
    <a routerLink="/categories" class="btn btn-light me-2">Voltar</a>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="submittingForm || categoryForm.invalid"
    >
      Salvar
    </button>
  </div>
</form>
